<launch>

  <!-- Define name and spawn location in simulation of robot. -->
  <arg name="bot_name" default="pan_tilt" doc="Default value set to 'pan_tilt'. Do not override!" /> 
  <arg name="init_x" default="0.0" doc="X coordinate of robot spawn location." />
  <arg name="init_y" default="0.0" doc="Y coordinate of robot spawn location." />
  <arg name="init_z" default="0.0" doc="Z coordinate of robot spawn location." />

  <!-- Convert Xacro robot description into URDF description because Gazebo only accepts URDF. --> 
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pan_tilt_description)/urdf/pan_tilt.urdf.xacro'" />

  <!-- Spawn simulation. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" > 
    <arg name="world_name" value="$(find pan_tilt_gazebo)/worlds/sphere_atlas_demo.world" />
  </include> 

  <!-- Spawn robot in simulation. -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
              -urdf
              -x $(arg init_x)
              -y $(arg init_y)
              -z $(arg init_z)
              -model $(arg bot_name)"
        respawn="false" output="screen">
  </node>

  <!-- Spawn ros_control nodes to allow joint control in simulation. -->
  <group>
    <include file="$(find pan_tilt_control)/launch/pan_tilt_control.launch" />
  </group>

</launch>

iq:qbnui:q:q