<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/shapes.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="model" default="$(find pan_tilt_cam)/urdf/box.urdf"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find pan_tilt_cam)/rviz/urdf.rviz"/>
</launch>
