<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <!--include file="$(find ur_description)/launch/ur5_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include-->

  <arg name="model" default="$(find ur_world_objects)/objects/ur5_on_table.urdf.xacro" />

  <!-- send table urdf to param server -->
  <!--param name="ur_on_table" command="$(find xacro)/xacro.py $(find ur_world_objects)/objects/ur5_robot.urdf.xacro" /-->

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <!--param  name="robot_description" command="$(find xacro)/xacro--> <!--inorder '$(find ur_description)/urdf/ur5_robot.urdf.xacro'" /-->


  <!-- push table_description to factory and spawn robot in gazebo -->
  <!--node name="spawn_ur_on_table" pkg="gazebo_ros" type="spawn_model" args="-urdf -param ur_on_table -z 0.01 -model table_model" respawn="false" output="screen" /-->

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />
</launch>
