<launch>

  <arg name="model" default="$(find kinect_description)/urdf/kinect.urdf" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kinect_gazebo)/world/environment.world" />
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model) -urdf -Y -1.57 -model kinect" />

</launch>